# Web Scraping Assignment with BeautifulSoup

In [176]:
#importing libraries

from bs4 import BeautifulSoup
import requests
import pandas as pd

# 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [177]:
# send get request to the webpage server to get the source code of the page

wiki_page = requests.get("https://en.wikipedia.org/wiki/Main_Page")
print(wiki_page)

# to get the page content
soup_wiki = BeautifulSoup(wiki_page.content)

#to extract the header details

headers = soup_wiki.find_all(["h1","h2","h3","h4","h5","h6"])
header_tags = []

for i in headers:
    header_tags.append(i.name+" "+i.text.strip())

# to print all the header details
header_tags

<Response [200]>

['h1 Main Page',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Personal tools',
 'h3 Namespaces',
 'h3 Variants',
 'h3 Views',
 'h3 More',
 'h3 Search',
 'h3 Navigation',
 'h3 Contribute',
 'h3 Tools',
 'h3 Print/export',
 'h3 In other projects',
 'h3 Languages']

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [178]:
#send get request to the webpage server to get the source code of the page

imdb_100_movies_page = requests.get("https://www.imdb.com/list/ls091520106/")
print(imdb_100_movies_page)

#to see the page content
soup_imdb = BeautifulSoup(imdb_100_movies_page.content)

# to get the top Movies name

imdb_100_movies = soup_imdb.find_all("h3",class_="lister-item-header")

movie_names = []
for i in imdb_100_movies:
    for j in i.find_all("a"):
        movie_names.append(j.text.replace("\n"," "))
movie_names

# to get the Year of release
imdb_year = soup_imdb.find_all("span",class_="lister-item-year text-muted unbold")

movie_year = []
for i in imdb_year:
    movie_year.append(i.text)
movie_year

# to get the IMDB Rating
imdb_rating = soup_imdb.find_all("div", class_="ipl-rating-star small")

rating = []
for i in imdb_rating:
    rating.append(float(i.text))
rating

# to Make data frame of top 100 movies on IMDB
df_imdb=pd.DataFrame({})
df_imdb['Name of the movie']=movie_names
df_imdb['Rating of the movie']=rating
df_imdb['Year of release']=movie_year
df_imdb

<Response [200]>

                      Name of the movie  Rating of the movie Year of release
0              The Shawshank Redemption                  9.3          (1994)
1                         The Godfather                  9.2          (1972)
2                The Godfather: Part II                  9.0          (1974)
3                       The Dark Knight                  9.0          (2008)
4                          12 Angry Men                  9.0          (1957)
..                                  ...                  ...             ...
95                   North by Northwest                  8.3          (1959)
96                   A Clockwork Orange                  8.3          (1971)
97                               Snatch                  8.3          (2000)
98  Le fabuleux destin d'Amélie Poulain                  8.3          (2001)
99                              The Kid                  8.3          (1921)

[100 rows x 3 columns]

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [179]:
#send get request to the webpage server to get the source code of the page
url = "https://www.imdb.com/list/ls009997493/"
page = requests.get(url)
print(page)

# to check the page content
soup = BeautifulSoup(page.content)

# to get the top 100 Indian Movies name
name = soup.find_all("h3", class_="lister-item-header")

# to get the text from movie name web elements
movies_name = [] #empty list
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)


# Year of release
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = [] #empty list

for i in year:
    a=i.text.replace('(','')
    year_of_release.append(a.replace(')','')) 
    

# IMDB Rating
rating = soup.find_all("div",class_="ipl-rating-star small")

# scrape text from rating web element
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))

        
# to Make data frame of IMDB top 100 Indian movies
indian_top_100=pd.DataFrame({})
indian_top_100['Movie name']=movies_name
indian_top_100['Year of release']=year_of_release
indian_top_100['IMDB rating']=IMDB_rating
indian_top_100

<Response [200]>

                Movie name Year of release  IMDB rating
0          Rang De Basanti            2006          8.1
1                 3 Idiots            2009          8.4
2         Taare Zameen Par            2007          8.4
3           Dil Chahta Hai            2001          8.1
4   Swades: We, the People            2004          8.2
..                     ...             ...          ...
95             Wake Up Sid            2009          7.6
96                Rangeela            1995          7.5
97     Shatranj Ke Khilari            1977          7.6
98      Pyaar Ka Punchnama            2011          7.6
99           Ek Hasina Thi            2004          7.5

[100 rows x 3 columns]

# 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [180]:
#send get request to the webpage server to get the source code of the page
url = "https://bookpage.com/reviews?book_genre=mystery_suspense&page=1"
page = requests.get(url)
print(page)

soup_book = BeautifulSoup(page.content, 'html.parser')

#to scrape book name

book_name = soup_book.find_all("h4", class_="italic")
Book = []
for i in book_name:
    for j in i.find_all("a"):
        Book.append(j.text.replace("\n"," ").replace("★", " "))

#to scrape author name

author_book = soup_book.find_all("h4",class_="italic")
author = []
for i in author_book:
    for j in i.find_all("a"):
        author.append(j.text.replace("\n"," ").replace("★", " "))
        
#Scraping the genre of the book

genre_book = soup_book.find_all("p", class_= "genre-links hidden-phone")
genre = []
for i in genre_book:
    for j in i.find_all("a"):
        genre.append(j.text)
        
#Scraping the review of the books

review_book = soup_book.find_all("p", class_= "excerpt")
review = []
for i in review_book:
    for j in i.find_all("p"):
        review.append(j.text)
        
# to Make data frame of Book Name,Author,Genre and Review        
BOOK=pd.DataFrame({})
BOOK["NAME"]=Book[:5]
BOOK["AUTHOR"]=author[:5]
BOOK["GENRE"]= genre[:5]
BOOK["REVIEW"]= review[:5]
BOOK

<Response [200]>

,NAME,AUTHOR,GENRE,REVIEW
0,Gone for Good,Gone for Good,Mystery & Suspense,Annalisa Vega probably shouldn’t be investigat...
1,"Autumn Leaves, 1922","Autumn Leaves, 1922",Mystery,Phryne Fisher fans will fall in love with Kiki...
2,The Turnout,The Turnout,Mystery & Suspense,"Early in The Turnout, the beautifully dark sus..."
3,Clark and Division,Clark and Division,Mystery,The grief of the World War II-era Japanese com...
4,A Good Day for Chardonnay,A Good Day for Chardonnay,Historical Mystery,Readers who like their murder mysteries to hav...

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’.

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [181]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page = requests.get(url)
print(page)

#parse the HTML
soup_odi = BeautifulSoup(page.content)

#to scrape first rank team name

team_name = soup_odi.find_all("span", class_="u-hide-phablet")
Team = []   #empty list
for i in team_name:
    Team.append(i.text.replace("\n"," "))
Team

#to scrape first rank team number of matches

odi_matches = soup_odi.find_all("td",class_="rankings-block__banner--matches")
Matches = []     #empty list
for i in odi_matches:
    Matches.append(i.text.replace("\n"," "))
Matches
        
#Scraping the first rank team points

odi_points = soup_odi.find_all("td", class_= "rankings-block__banner--points")
Points = []       #empty list
for i in odi_points:
    Points.append(i.text.replace("\n"," "))
Points
        
#Scraping the first rank team ratings

odi_rating = soup_odi.find_all("td",class_="rankings-block__banner--rating u-text-right")
Rating = []
for i in odi_rating:
    Rating.append(i.text.replace("\n"," "))
Rating

#scraping the other teams rank, matches, points and ratings
new_list = [] #empty list

for i in soup_odi.find_all("td",class_='table-body__cell u-center-text'):
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    Matches.append(new_list[i]) 
    Points.append(new_list[i+1])
for i in soup_odi.find_all("td",class_='table-body__cell u-text-right rating'):
    Rating.append(i.text)
        
# Making the data frame 
df = pd.DataFrame({})
df["TEAM"]=Team[:10]
df["MATCHES"]=Matches[:10]
df["POINTS"]=Points[:10]
df["RATING"]=Rating[:10]
df

<Response [200]>

,TEAM,MATCHES,POINTS,RATING
0,New Zealand,17,"2,054",121 ...
1,England,32,"3,793",119
2,Australia,28,"3,244",116
3,India,32,"3,624",113
4,South Africa,22,"2,267",103
5,Pakistan,27,"2,524",93
6,Bangladesh,29,"2,639",91
7,West Indies,30,"2,523",84
8,Sri Lanka,29,"2,303",79
9,Afghanistan,17,"1,054",62

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [182]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page = requests.get(url)
print(page)

soup_batsmen = BeautifulSoup(page.content)

#scraping first rank batsmen name, team name and rating
players = []    #empty list
team_name = []  #empty list
rating = []     #empty list

player_name = soup_batsmen.find_all("div", class_= "rankings-block__banner--name-large")
for i in player_name:
    players.append(i.text.replace("\n"," "))


team = soup_batsmen.find_all("div",class_="rankings-block__banner--nationality")
for i in team:
    team_name.append(i.text.replace("\n"," "))
    

player_rating= soup_batsmen.find_all("div", class_= "rankings-block__banner--rating")
for i in player_rating:
    rating.append(i.text)
        
#Scraping the other batsmen name,team name and rating
for i in soup_batsmen.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup_batsmen.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup_batsmen.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)

        
# Make data frame of ICC top 10 Batsmen
df=pd.DataFrame({})
df["Player"]=players[:10]
df["Team"]=team_name[:10]
df["Rating"]= rating[:10]
df

<Response [200]>

            Player                        Team Rating
0       Babar Azam    PAK                         873
1      Virat Kohli                         IND    844
2     Rohit Sharma                         IND    813
3      Ross Taylor                          NZ    801
4      Aaron Finch                         AUS    779
5   Jonny Bairstow                         ENG    775
6     David Warner                         AUS    762
7  Quinton de Kock                          SA    758
8        Shai Hope                          WI    758
9  Kane Williamson                          NZ    754

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [183]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page = requests.get(url)
print(page)

soup_bowler = BeautifulSoup(page.content)

#scraping first rank batsmen name, team name and rating
players = []    #empty list
team_name = []  #empty list
rating = []     #empty list

player_name = soup_bowler.find_all("div", class_= "rankings-block__banner--name-large")
for i in player_name:
    players.append(i.text.replace("\n"," "))


team = soup_bowler.find_all("div",class_="rankings-block__banner--nationality")
for i in team:
    team_name.append(i.text.replace("\n"," "))
    

player_rating= soup_bowler.find_all("div", class_= "rankings-block__banner--rating")
for i in player_rating:
    rating.append(i.text)
        
#Scraping the other batsmen name,team name and rating
for i in soup_bowler.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup_bowler.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup_bowler.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)

        
# Make data frame of ICC top 10 Batsmen
df=pd.DataFrame({})
df["Player"]=players[:10]
df["Team"]=team_name[:10]
df["Rating"]= rating[:10]
df

<Response [200]>

             Player                       Team Rating
0       Trent Boult    NZ                         737
1    Josh Hazlewood                        AUS    709
2  Mujeeb Ur Rahman                        AFG    708
3      Chris Woakes                        ENG    700
4      Mehedi Hasan                        BAN    692
5        Matt Henry                         NZ    691
6    Jasprit Bumrah                        IND    679
7    Mitchell Starc                        AUS    652
8   Shakib Al Hasan                        BAN    650
9     Kagiso Rabada                         SA    648

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

    i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [184]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page = requests.get(url)
print(page)

#see content of the page
soup = BeautifulSoup(page.content)

#scraping first rank team names, number of matches, points and ratings
womens_matches = [] #empty list
womens_points = [] #empty list
womens_ratings = [] #empty list
womens_new_list = [] #empty list

womens_team = soup.find_all("span",class_='u-hide-phablet')
womens_team_name = []
for i in womens_team:
    womens_team_name.append(i.text)

for i in soup.find_all("td",class_='rankings-block__banner--matches'):
    womens_matches.append(i.text)
for i in soup.find_all("td",class_='rankings-block__banner--points'):
    womens_points.append(i.text)
for i in soup.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    womens_ratings.append(i.text.replace("\n",""))
    
#scraping other team names, number of matches, points and ratings
for i in soup.find_all("td",class_='table-body__cell u-center-text'):
    womens_new_list.append(i.text)
for i in range(0,len(womens_new_list)-1,2):
    womens_matches.append(womens_new_list[i])
    womens_points.append(womens_new_list[i+1])
for i in soup.find_all("td",class_='table-body__cell u-text-right rating'):
    womens_ratings.append(i.text)

# Make data frame of top 10 ICC Women's team ranking
df=pd.DataFrame({})
df['Team']=womens_team_name[:10]
df['Matches']=womens_matches[:10]
df['Points']=womens_points[:10]
df['Rating']=womens_ratings[:10]
df

<Response [200]>

,Team,Matches,Points,Rating
0,Australia,18,"2,955",164 ...
1,England,20,"2,370",119
2,South Africa,24,"2,828",118
3,India,23,"2,535",110
4,New Zealand,21,"1,947",93
5,West Indies,17,"1,427",84
6,Pakistan,20,"1,496",75
7,Bangladesh,5,306,61
8,Sri Lanka,11,519,47
9,Ireland,2,25,13

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [185]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page = requests.get(url)
print(page)

soup = BeautifulSoup(page.content)

#scraping first rank player name, team name and rating
players = []    #empty list
team_name = []  #empty list
rating = []     #empty list

player_name = soup.find_all("div", class_= "rankings-block__banner--name-large")
for i in player_name:
    players.append(i.text.replace("\n"," "))


team = soup.find_all("div",class_="rankings-block__banner--nationality")
for i in team:
    team_name.append(i.text.replace("\n"," "))
    

player_rating= soup.find_all("div", class_= "rankings-block__banner--rating")
for i in player_rating:
    rating.append(i.text)
        
#Scraping the other batsmen name,team name and rating
for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)
for i in soup.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

        
# Make data frame of ICC top 10 Women's ODI Batting Ranking
df=pd.DataFrame({})
df["Player"]=players[:10]
df["Team"]=team_name[:10]
df["Rating"]= rating[:10]
df

<Response [200]>

              Player                        Team Rating
0        Mithali Raj    IND                         762
1        Lizelle Lee                          SA    758
2       Alyssa Healy                         AUS    756
3     Tammy Beaumont                         ENG    754
4    Stafanie Taylor                          WI    736
5        Meg Lanning                         AUS    723
6  Amy Satterthwaite                          NZ    715
7     Natalie Sciver                         ENG    706
8    Smriti Mandhana                         IND    701
9    Laura Wolvaardt                          SA    683

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [186]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page = requests.get(url)
print(page)

soup = BeautifulSoup(page.content)

#scraping first rank player name, team name and rating
players = []    #empty list
team_name = []  #empty list
rating = []     #empty list

player_name = soup.find_all("div", class_= "rankings-block__banner--name-large")
for i in player_name:
    players.append(i.text.replace("\n"," "))


team = soup.find_all("div",class_="rankings-block__banner--nationality")
for i in team:
    team_name.append(i.text.replace("\n"," "))
    

player_rating= soup.find_all("div", class_= "rankings-block__banner--rating")
for i in player_rating:
    rating.append(i.text)
        
#Scraping the other batsmen name,team name and rating
for i in soup.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)
for i in soup.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

        
# Make data frame of ICC top 10 Women's ODI All-Rounder Ranking
df=pd.DataFrame({})
df["Player"]=players[:10]
df["Team"]=team_name[:10]
df["Rating"]= rating[:10]
df

<Response [200]>

             Player                       Team Rating
0    Marizanne Kapp    SA                         418
1      Ellyse Perry                        AUS    418
2   Stafanie Taylor                         WI    394
3    Natalie Sciver                        ENG    365
4     Deepti Sharma                        IND    331
5     Jess Jonassen                        AUS    307
6  Ashleigh Gardner                        AUS    252
7  Dane van Niekerk                         SA    243
8     Sophie Devine                         NZ    242
9   Katherine Brunt                        ENG    239

# 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [206]:
#send get request to the webpage server to get the source code of the page
url = "https://www.amazon.in/s?k=phones+under+20000+rupees&ref=nb_sb_noss_1"
page = requests.get(url)
print(page)

#to see content in page
soup = BeautifulSoup(page.content)

#empty lists
product_name = []  
price = []    
rating = []   
img_url = []   


# to Scrape product name
for i in soup.find_all("span",class_="a-size-medium a-color-base a-text-normal"):
    product_name.append(i.text)

#  toScrape product price
for i in soup.find_all("span",class_="a-price-whole"):
    price.append(i.text)
    
# to scrape product rating
for i in soup.find_all("span",class_="a-icon-alt"):
    rating.append(i.text)

# to Scrape images url
for i in soup.find_all("img",class_="s-image"):
    img_url.append(i.get("src"))
    
# Make data frame mobile phones under Rs. 20,000 listed on Amazon.in
df=pd.DataFrame({})
df['Product Name']=product_name[:15]
df['Price']=price[:15]
df['Rating']=rating[:15]
df['img_url'] = img_url[:15]
df

<Response [200]>

,Product Name,Price,Rating,img_url
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
1,"realme C11 (2021) (Cool Blue, 2GB RAM, 32GB St...","14,999",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71FYSKYFup...
2,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","14,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
3,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128G...","13,499",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71OxJeyywS...
4,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...","14,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61LHaUOheh...
5,"Redmi Note 10S (Shadow Black, 6GB RAM, 64GB St...","13,499",4.1 out of 5 stars,https://m.media-amazon.com/images/I/81R9c74pmD...
6,"Redmi 9 Power (Blazing Blue, 6GB RAM, 128GB St...","16,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71hEzQGO5q...
7,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...","12,490",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
8,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","11,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61CnyJ-IbM...
9,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","6,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71X5I1cVfb...
10,"Redmi 9A (Midnight Black, 2GB RAM, 32GB Storag...","5,798",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
11,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...","7,999",3.1 out of 5 stars,https://m.media-amazon.com/images/I/41QsvcpKaZ...
12,Redmi 9A (Sea Blue 3GB RAM 32GB Storage)| 2GHz...,"10,499",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
13,"Samsung Galaxy M02s (Black,4GB RAM, 64GB Stora...","10,990",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71IkA3T7hI...
14,"OPPO A31 (Mystery Black, 4GB RAM, 64GB Storage...","13,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71KCwNV6Mu...

# 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [188]:
#send get request to the webpage server to get the source code of the page
url = "https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YSTNP8_hXIU"
page = requests.get(url)
print(page)

# to see content of the page
soup = BeautifulSoup(page.content)

# Scraping details of period, temperature, short description, and description about 7 day extended forecast.
period = []        #empty list
short_desc = []    #empty list
temperature = []   #empty list
description = []   #empty list

for i in soup.find_all("div", class_="col-sm-2 forecast-label"):
    period.append(i.text)

for i in soup.find_all('p',attrs={'short-desc'}):
        if i.next_sibling is not None:
            temperature.append(i.next_sibling.text)
        else:
            temperature.append(' ')

for i in soup.find_all('p',class_="short-desc"):        
        short_desc.append(i.text.split(',')[0])
    
for i in soup.find_all("div", class_="col-sm-10 forecast-text"):
        description.append(i.text)

# to see the data frame about 7 day extended forecast
df = pd.DataFrame({})
df['Period']=period[:9]
df['Temperature']=temperature[:9]
df['Short_description']=short_desc[:9]
df['Description']=description[:9]
df

<Response [200]>

,Period,Temperature,Short_description,Description
0,Today,High: 65 °F,DecreasingClouds,"Mostly cloudy, then gradually becoming sunny, ..."
1,Tonight,Low: 54 °F,IncreasingClouds,"Increasing clouds, with a low around 54. West ..."
2,Wednesday,High: 65 °F,GradualClearing,"Cloudy through mid morning, then gradual clear..."
3,Wednesday Night,Low: 55 °F,Mostly Clearand Breezythen PartlyCloudy,"Partly cloudy, with a low around 55. Breezy, w..."
4,Thursday,High: 71 °F,Sunny,"Sunny, with a high near 71. Light south southw..."
5,Thursday Night,Low: 57 °F,Mostly Clear,"Mostly clear, with a low around 57."
6,Friday,High: 75 °F,Sunny,"Sunny, with a high near 75."
7,Friday Night,Low: 57 °F,Mostly Clear,"Mostly clear, with a low around 57."
8,Saturday,High: 75 °F,Sunny,"Sunny, with a high near 75."

# 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [189]:
#send get request to the webpage server to get the source code of the page
url = "https://internshala.com/fresher-jobs"
page = requests.get(url)
print(page)

# to see the content of page
soup = BeautifulSoup(page.content)

#empty lists
job_title = []  
company_name = [] 
CTC = []
apply_date = []

# to scrape job title
title = soup.find_all('div',class_="heading_4_5 profile") 
for i in title:
    job_title.append(i.text.replace('\n', ''))
    
#to scrape company names    
company = soup.find_all('div',class_="heading_6 company_name")
for i in company:
    company_name.append(i.text.strip())


#to scrape CTC and apply date
info = []
job_info = soup.find_all("div",class_="item_body")
for i in job_info:
    info.append(i.text.replace("\n",""))
    
# for apply date    
for i in range(2,len(info),3):
    apply_date.append(info[i].strip())
# for CTC    
for i in range(1,len(info),3):
    CTC.append(info[i].strip())
    
    

# Make data frame
JOB=pd.DataFrame({})
JOB['Job Title']=job_title
JOB['Company Name']=company_name
JOB['CTC']=CTC
JOB['Apply Date']=apply_date
JOB

<Response [200]>

,Job Title,Company Name,CTC,Apply Date
0,OMNI SPORT LEADER,Decathlon Sport India Private Limited,3 - 4 LPA,18 Sep' 21
1,Executive/Senior Executive - Partnerships,Freecharge Payments Technology Private Limited,3 - 4.2 LPA,11 Sep' 21
2,Executive - Sales,Freecharge Payments Technology Private Limited,3 - 3.5 LPA,11 Sep' 21
3,Junior Operations Executive,Freecharge Payments Technology Private Limited,3 - 4 LPA,4 Sep' 21
4,Mobile App Developer,Cogent Web Services,3 LPA,23 Sep' 21
5,Software Developer,Swabhav Techlabs,3 - 3.5 LPA,23 Sep' 21
6,Coding Teacher (Remote),Codingal Education Private Limited,3 - 6 LPA,23 Sep' 21
7,Validation Expert,Apna,3 LPA,23 Sep' 21
8,Full Stack Developer,ImbueDesk,5 - 9 LPA,23 Sep' 21
9,Business Development Associate,Tutedude,3 - 4 LPA,23 Sep' 21
10,Content & E-commerce Management Executive,Anmol Baby,3 - 3.1 LPA,23 Sep' 21
11,Business Development Specialist,The SmartWare,3 LPA,23 Sep' 21
12,Assistant Manager - Outreach & Events,Formskart,3 LPA,23 Sep' 21
13,Investor Pitch Deck - Content Writer,PitchyDeck,3 - 4.5 LPA,23 Sep' 21
14,Full Stack Engineer (MERN),Softway Solutions Private Limited,5.5 - 8 LPA,23 Sep' 21
15,Business Development Executive,Volopay,3.6 - 5 LPA,23 Sep' 21
16,Junior Graphic Designer,Habitate Technologies Private Limited,3.2 - 3.6 LPA,23 Sep' 21
17,Sales Development Representative,Ziguar,4 - 6 LPA,23 Sep' 21
18,Junior Sales Executive,Picocrew,3 LPA,23 Sep' 21
19,Online Coding Educator,BrightChamps Tech Private Limited,3 - 7.5 LPA,23 Sep' 21
20,Executive - Statistical Modeling,D'Well Research,3 - 3.5 LPA,23 Sep' 21
21,Customer Experience And Sales Advisor,Tilfi Banaras,3 - 4.8 LPA,23 Sep' 21
22,Firmware Engineer,NBase2 Systems Private Limited,3 LPA,22 Sep' 21
23,Junior Software Developer,Finnovus Technologies Private Limited (CreditS...,3 - 3.5 LPA,22 Sep' 21
24,Full Stack Engineer,Getart,4 - 6 LPA,22 Sep' 21
25,Backend Developer (Java/Spring Boot/Hibernate),Krenai,3.4 - 4.5 LPA,22 Sep' 21
26,Associate Content Writer,MiM-Essay,4 - 4.5 LPA,22 Sep' 21
27,Social Media Manager,Finvision Financial Services,3 - 3.5 LPA,22 Sep' 21
28,Retail Store Manager,Etchcraft,3 - 3.6 LPA,22 Sep' 21
29,Autocad Operator,Dolphin Engineers,3 LPA,22 Sep' 21
30,Business Development/Growth Executive,Flurn Technologies,3 - 6 LPA,22 Sep' 21
31,Administration Manager,Easy Entertainment,3 LPA,22 Sep' 21
32,Junior Full Stack Developer,BLOOMING RECALL LLP,3 - 5 LPA,22 Sep' 21
33,Software Developer Trainee,Pinnacle Software And Services Private Limited,3.25 - 3.75 LPA,22 Sep' 21
34,UI/UX Designer,Masterstroke Media Private Limited,3 - 3.5 LPA,22 Sep' 21
35,Business Development Associate,Karmic Seed,3 - 5 LPA,22 Sep' 21
36,Embedded Systems Associate,Embedded Technosolutions,3 - 3.2 LPA,22 Sep' 21
37,Digital Marketing Executive,Triny.io,3 - 5 LPA,22 Sep' 21
38,Node.js & React.js Developer,Saino First Network Private Limited,3 - 5 LPA,22 Sep' 21
39,Front-End Engineer,AffinityAnswers,5 - 6.5 LPA,22 Sep' 21

# 10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [190]:
#send get request to the webpage server to get the source code of the page
url = "https://www.nobroker.in/property/sale/delhi/multiple?searchParam=W3sibGF0IjoyOC41NDc4ODk3LCJsb24iOjc3LjIwMzEyNDcsInBsYWNlSWQiOiJDaElKSTgtaGZSTGlERGtSVFJOcHhpRzhudGciLCJwbGFjZU5hbWUiOiJIYXV6IEtoYXMifSx7ImxhdCI6MjguNjA5MDEyNiwibG9uIjo3Ni45ODU0NTI2LCJwbGFjZUlkIjoiQ2hJSklUclZ0TndQRFRrUndKX3o5NExVQUlnIiwicGxhY2VOYW1lIjoiTmFqYWZnYXJoIn0seyJsYXQiOjI4LjczMTgyOSwibG9uIjo3Ny4xMjUyMjUsInBsYWNlSWQiOiJDaElKTzhNVDBUOEJEVGtSQUktV080YktLaW8iLCJwbGFjZU5hbWUiOiJSb2hpbmkgU2VjLiAxNiJ9XQ==&radius=2.0&type=BHK4PLUS&propertyAge=0"
page = requests.get(url)
print(page)

# to see content of the page
soup = BeautifulSoup(page.content)

#empty lists
house = []  
location = [] 
area = []
EMI = [] 
price = []


# to scrape house title details
houses = soup.find_all("h2", class_="heading-6 font-semi-bold nb__1AShY")
for i in houses:
    house.append(i.text)
    
#to scrape house location details    
loc = soup.find_all('div',class_="nb__35Ol7")
for i in loc:
    location.append(i.text)
    
#to scrape house area details    
Area = soup.find_all('div',class_="nb__3oNyC")
for i in area:
    area.append(i.text)
    
#to scrape house EMI and Price
info = []
detail = soup.find_all('div',class_="font-semi-bold heading-6")
for i in detail:
    info.append(i.text)

for i in range(1,len(info),3):   #EMI details
    EMI.append(info[i])

for i in range(2,len(info),3):  #price details
    price.append(info[i])

# Make data frame
df=pd.DataFrame({})
df['HOUSE']=house
df['LOCATION']=location
df['AREA']=Area
df['EMI']=EMI
df['PRICE']=price
df

<Response [200]>

,HOUSE,LOCATION,AREA,EMI,PRICE
0,4+ BHK Flat For Sale In Rohini,"Standalone Building, Sector 16, near Shantinat...",[839 sqft],"₹31,522/Month",₹55 Lacs
1,4+ BHK Flat For Sale In 9015385307 In Rohini,"Sector 16A, Near AJ's Law OfficeExplore Nearby","[2,800 sqft]",₹1.72 Lacs/Month,₹3 Crores
2,4+ BHK In Independent House For Sale In Sec...,"Independent House, Giani Gurumukhi Musaphir Ma...","[2,200 sqft]","₹40,120/Month",₹70 Lacs
3,4+ BHK Flat For Sale In G.s. Appartments In ...,"Plot No. 103, I.P.Extension, Rohini, Delhi, 11...","[2,000 sqft]",₹1.15 Lacs/Month,₹2 Crores
4,4+ BHK Flat For Sale In Rohini,"standalone building, Sector 11, Near DDA Marke...","[2,240 sqft]","₹94,568/Month",₹1.65 Crores
5,4+ BHK Flat For Sale In Pink View Apartment ...,"Sector 18, Near Delhi Police Crime BranchExplo...","[2,200 sqft]","₹91,703/Month",₹1.6 Crores
6,4+ BHK Flat For Sale In Pink View Apartment ...,"Sector 18, Near Delhi Police Crime BranchExplo...","[3,200 sqft]",₹1.72 Lacs/Month,₹3 Crores
7,4+ BHK Flat For Sale In Pink View Apartment ...,"Sector 18, Near Delhi Police Crime BranchExplo...","[1,550 sqft]","₹74,508/Month",₹1.3 Crores
8,"4+ BHK Flat For Sale In Najafgarh,","standalone Building, Ranaji Enclave, Masudabad...","[2,025 sqft]","₹20,060/Month",₹35 Lacs
9,4+ BHK In Independent House For Sale In Utta...,"Independent House, Hastsal Vihar near Vasundh...","[2,600 sqft]","₹40,120/Month",₹70 Lacs