In [2]:
# Importing the necessary Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

import undetected_chromedriver as uc

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [6]:
# path for chromedriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)
keyword = "https://www.naukri.com/"
driver.get(keyword)
time.sleep(2)

In [7]:
# Writing “Data Analyst” in “Skill,Designations,Companies” field.
search_job=driver.find_element_by_xpath("//input[@class='sugInp']") #job search bar
search_job.send_keys("Data Analyst")

# Writing “Bangalore” in “enter the location” field.
search_location=driver.find_element_by_id('qsb-location-sugg') #location search bar
search_location.send_keys("Bangalore")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [9]:
# creating empty lists for scraping data
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]


#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles[:10]:
    if i.text is None :
        Job_Title.append("--") 
    else:
        Job_Title.append(i.text)

time.sleep(3)

#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations[:10]:
    if i.text is None :
        Job_Location.append("--") 
    else:
        Job_Location.append(i.text)
        
time.sleep(3)        
#scraping the company_name 
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies[:10]:
    if i.text is None :
        Company_Name.append("--") 
    else:
        Company_Name.append(i.text)


time.sleep(2)
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience[:10]:
    if i.text is None :
            Experience_Required.append("--") 
    else:
            Experience_Required.append(i.text)


time.sleep(2)
# creating the dataframe from the scraped data and taking only first 10 jobs
df = pd.DataFrame({})
df['Job Title']=Job_Title
df['Company Name']=Company_Name
df['Job Location']=Job_Location
df['Experience Required']=Experience_Required
df

C:\Users\HP\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

,Job Title,Company Name,Job Location,Experience Required
0,Senior Data Analyst,Gaussian Networks Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-5 Yrs
1,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru",6-11 Yrs
2,Business Data Analyst,Trigent Software,Bangalore/Bengaluru,5-10 Yrs
3,Business Data Analyst,Trigent Software,Bangalore/Bengaluru,5-10 Yrs
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,Bangalore/Bengaluru,3-8 Yrs
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",8-12 Yrs
6,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru",6-11 Yrs
7,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,4-8 Yrs
8,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",4-9 Yrs
9,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bangalore/Bengaluru,6-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [10]:
# path for chromedriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)
keyword = "https://www.naukri.com/"
driver.get(keyword)
time.sleep(2)

In [11]:
# entering “Data Scientist” in “Skill,Designations,Companies” field
search_job=driver.find_element_by_id("qsb-keyword-sugg")  
search_job.send_keys("Data Scientist")

# entering “Bangalore” in “enter the location” field.
search_location=driver.find_element_by_id('qsb-location-sugg')
search_location.send_keys("Bangalore")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

time.sleep(3)

C:\Users\HP\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:443: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")
C:\Users\HP\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [12]:
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]


#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles[0:10]:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations[0:10]:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4)        
#scraping the company_name 
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies[0:10]:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)

C:\Users\HP\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [13]:
# scraping the full job-description, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        full_job_description.append(description[0])
    except NoSuchElementException :
        full_job_description.append("---")

# creating the dataframe from the scraped data and taking only first 10 jobs
df = pd.DataFrame({})
df['Job_Title']=job_title
df['Company_Name']=company_name
df['Job_Location']=job_location
df['Full_Job_Description']=full_job_description
df

,Job_Title,Company_Name,Job_Location,Full_Job_Description
0,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",Minumum 3 years of experience in Data Science/...
1,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,---
2,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Use predictive modeling to increase and optimi...
3,Data Scientist,Brillio,Bangalore/Bengaluru,A day in the Life of Data Scientist at Brillio...
4,Data Scientist - I / II,Sharechat,Bangalore/Bengaluru,Responsibilities\nApply state of the art in th...
5,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Must Have skill sets:\n\nExcellent knowledge o...
6,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,---
7,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,---
8,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,"As a Senior Data Scientist for Walmart, you ll..."
9,Senior Data Scientist,Airbnb,Bangalore/Bengaluru,Responsibilities include:\nDefining and evalua...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

1.first get the webpage https://www.naukri.com/

2.Enter “Data Scientist” in “Skill,Designations,Companies” field .

3.Then click the search button.

4.Then apply the location filter and salary filter by checking the respective boxes

5.Then scrape the data for the first 10 jobs results you get.

6.Finally create a dataframe of the scraped data.

In [14]:
# path for chromedriver
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
driver = uc.Chrome(executable_path='chromedriver.exe', options=options)
keyword = "https://www.naukri.com/"
driver.get(keyword)
time.sleep(2)

In [15]:
# entering “Data Scientist” in “Skill,Designations,Companies” field
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')  
search_job.send_keys("Data Scientist")


# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

time.sleep(3)

C:\Users\HP\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [16]:
time.sleep(2)

# code to click on the location filter for "Delhi/NCR"
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_filter.click()

In [17]:
# code to click on the salary filter for "3-6 Lakhs"
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [18]:
# creating empty lists for scraping data
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]

time.sleep(3)

# scraping all the job titles
j_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in j_title[:10]:
    if i.text is None :
        Job_Title.append("--")
    else:
        Job_Title.append(i.text)

# scraping all the company names
j_company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in j_company[:10]:
    if i.text is None :
        Company_Name.append("--")
    else:
        Company_Name.append(i.text)
    
    
# scraping the years of experience needed
j_exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in j_exp[:10]:
    if i.text is None :
        Experience_Required.append("--")
    else:
        Experience_Required.append(i.text)

# scraping all the job locations including Bangalore and the others with it
j_location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
for i in j_location[:10]:
    if i.text is None :
        Job_Location.append("--")
    else:
        Job_Location.append(i.text)


# creating the data frame now
df = pd.DataFrame({})
df['Job Title']=Job_Title
df['Company Names']=Company_Name
df['Years of experience required']=Experience_Required
df['Job Locations']=Job_Location
df

C:\Users\HP\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

,Job Title,Company Names,Years of experience required,Job Locations
0,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Ghaziabad, Faridabad, Delhi / NCR"
1,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,0-0 Yrs,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga..."
2,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
4,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
5,Data Scientist,R Systems International Ltd.,3-6 Yrs,Noida
6,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs,Gurgaon/Gurugram
7,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Noida, Gurgaon/Gurugram"
8,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC..."
9,Junior Data Scientists & Engineers,PY Consultancy,0-3 Yrs,"New Delhi, Delhi / NCR"

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [147]:
# connecting to the web driver
driver= webdriver.Chrome(executable_path='chromedriver.exe') 
time.sleep(2)

# getting the glassdoor job search portal url on the web driver
url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [148]:
# code to write Data Scientist on skills search box
search_job = driver.find_element_by_xpath('//input[@id="sc.keyword"]')
search_job.send_keys("Data Scientist")

In [149]:
# code to write Noida in location box
search_loc = driver.find_element_by_xpath('//input[@id="sc.location"]')
search_loc.send_keys("Noida")

In [150]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]')
search_btn.click()

In [151]:
# creating empty lists for scraping data
name=[]
days_ago=[]
rating=[]

# scraping all the company names
job_names = driver.find_elements_by_xpath('//a[@class=" job-search-key-l2wjgv e1n63ojh0 jobLink"]//span')
for i in job_names[:10]:
    name.append(i.text)

# list the number of days ago the job was posted
job_age = driver.find_elements_by_xpath('//div[@data-test="job-age"]')
for i in job_age[:10]:
    days_ago.append(i.text)

# scraping the rating of the companies
job_rating = driver.find_elements_by_xpath('//span[@class=" job-search-key-srfzj0 e1cjmv6j0"]')
for i in job_rating[:10]:
    rating.append(i.text)


# creating the data frame now
df = pd.DataFrame({})
df['Company Name']=name
df['Job posted duration']=days_ago
df['Rating']=rating
df

                             Company Name Job posted duration Rating
0  AlgoScale Technologies Private Limited                 19d    3.9
1    Liberin Technologies Private Limited                30d+    3.9
2                              Noisy Lion                  4d    3.6
3            Salasar New Age Technologies                30d+    3.5
4                                Lenskart                  7d    3.8
5                          Grail Insights                  5d    3.5
6                                Techlive                30d+    3.3
7                                 Genpact                  7d    4.1
8                          Grail Insights                  5d    4.2
9                         Newgen Software                30d+    3.8

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page. You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [140]:
# connecting to the web driver
driver= webdriver.Chrome(executable_path='chromedriver.exe') 
time.sleep(2)

# getting the glassdoor job search portal url on the web driver
url = "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [142]:
# code to write Data Scientist on skills search box
search_job = driver.find_element_by_xpath('//input[@id="KeywordSearch"]')
search_job.send_keys("Data Scientist")

In [144]:
# code to write Noida in location box
search_loc = driver.find_element_by_xpath('//input[@id="LocationSearch"]')
search_loc.send_keys("Noida")

In [145]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@id="HeroSearchButton"]')
search_btn.click()

In [146]:
# code to get the minimum salary
min_sal = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p')
minsal=[]
for i in min_sal[:20]:
    minsal.append(i.text)
minisal=[]
for i in range(0, len(minsal), 2):
    minisal.append(minsal[i])

# code to get the maximum salary
maxisal=[]
for i in range(1, len(minsal), 2):
    maxisal.append(minsal[i])
    
# code to get the company names
com_name = driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
cname = []
for i in com_name[:10]:
    cname.append(i.text)

# code to get the average salary
avg_sal = driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]//h3')
avgsal = []
for i in avg_sal[:10]:
    avgsal.append(i.text)
    
# code to get the rating of the company
com_rating = driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
crating = []
for i in com_rating[:10]:
    crating.append(i.text)
    

# creating the data frame now
df = pd.DataFrame({})
df['Minimum Salary']=minisal
df['Maximum Salary']=maxisal
df['Company Name']=cname
df['Average Salary']=avgsal
df['Company Rating']=crating
df

,Minimum Salary,Maximum Salary,Company Name,Average Salary,Company Rating
0,₹4L,₹13L,Tata Consultancy Services,"₹6,28,021",3.9
1,₹1L,₹28L,IBM,"₹9,08,246",3.9
2,₹6L,₹23L,Accenture,"₹11,93,390",4.1
3,₹xL,₹xCr,Delhivery,"₹xx,xx,xxx",3.7
4,₹xL,₹xxL,Ericsson-Worldwide,"₹x,xx,xxx",4
5,₹xL,₹xxL,UnitedHealth Group,"₹xx,xx,xxx",3.7
6,₹xL,₹xxL,Optum,"₹xx,xx,xxx",3.7
7,₹xxL,₹xxL,Optum Global Solutions,"₹xx,xx,xxx",3.9
8,₹xL,₹xxL,Valiance Solutions,"₹x,xx,xxx",4.2
9,₹xL,₹xxL,EXL Service,"₹xx,xx,xxx",3.6

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [79]:
# connecting to the web driver
driver=webdriver.Chrome(executable_path="chromedriver.exe") 
time.sleep(3)

# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/"
driver.get(url)

In [80]:
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')

time.sleep(2)
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [81]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand = []
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descriptn = []
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price = []
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
discount = []
for i in prod_discount:
    discount.append(i.text)

In [82]:
# code to click on the next button for page 2
search_btn1 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
search_btn1.click()

In [83]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [84]:
# code to click on the next button for page 3
search_btn2 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
search_btn2.click()

In [85]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.append("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(brand), len(descriptn), len(price), len(discount))

# creating the data frame now
df = pd.DataFrame({})
df['Sunglasses Brand']=brand[:100]
df['Sunglasses Description']=descriptn[:100]
df['Sunglasses Price']=price[:100]
df['Sunglasses Discount']=discount[:100]
df

Lengths of columns: 120 109 120 120

,Sunglasses Brand,Sunglasses Description,Sunglasses Price,Sunglasses Discount
0,I Flash,"UV Protection, Polarized, Mirrored Rectangular...",₹137,86% off
1,I Flash,UV Protection Round Sunglasses (54),₹132,86% off
2,SHAAH COLLECTIONS,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹198,88% off
3,Elligator,"UV Protection, Gradient Rectangular Sunglasses...",₹295,88% off
4,kingsunglasses,UV Protection Aviator Sunglasses (54),₹284,89% off
...,...,...,...,...
95,GANSTA,UV Protection Round Sunglasses (50),₹374,81% off
96,Cruze,UV Protection Cat-eye Sunglasses (60),₹499,61% off
97,PIRASO,UV Protection Over-sized Sunglasses (60),₹331,79% off
98,Badfella,UV Protection Rectangular Sunglasses (Free Size),₹269,73% off
99,VINCENT CHASE,UV Protection Shield Sunglasses (Free Size),"₹1,415",29% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [86]:
# connecting to the web driver
driver=webdriver.Chrome(executable_path="chromedriver.exe") 
time.sleep(3)

# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [87]:
time.sleep(2)

# Creating empty list
urls=[]
short_review=[]
full_review=[]
rating=[]

time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
    
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    # scraping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        rating.append(j.text)
    # scraping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    # scraping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        full_review.append(l.text)
        
        
        
#Combining all the lists into a single dataframe
df = pd.DataFrame({})
df['iPhone Rating']=rating
df['iPhone Short Review']=short_review
df['iPhone Full Review']=full_review[:100]
df
df

,iPhone Rating,iPhone Short Review,iPhone Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

In [88]:
# connecting to the web driver
driver=webdriver.Chrome(executable_path="chromedriver.exe") 
time.sleep(3)

# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/"
driver.get(url)

In [89]:
# code to write sneakers in the search box
search_prod = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_prod.send_keys("Sneakers")

time.sleep(2)

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [90]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')

# extract all the product search links from the above search result
prod_urls=[]
for i in url[:5]:
    prod_urls.append(i.get_attribute('href'))

In [91]:
# code to extract brand details
brand = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for j in prod_brand:
            brand.append(j.text)
    except:
        brand.append("---")

# code to extract product description
descriptn = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
        for j in prod_descriptn:
            descriptn.append(j.text)
    except:
        descriptn.append("---")

time.sleep(2)

# code to extract price of the product
price = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for j in prod_price:
            price.append(j.text)
    except:
        price.append("---")
        
time.sleep(2)
        
# code to extract the discount percentage
discount = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
        for j in prod_discount:
            discount.append(j.text)
    except:
        discount.append("---")
        
time.sleep(2)

# creating the data frame
df = pd.DataFrame({})
df['Sneaker Brand']=brand[:100]
df['Sneaker Description']=descriptn[:100]
df['Sneaker Price']=price[:100]
df['Sneaker Discount']=discount[:100]
df

,Sneaker Brand,Sneaker Description,Sneaker Price,Sneaker Discount
0,Echor,Men's Sneakers Walking Shoes - Lightweight Cla...,₹429,57% off
1,DUCATI,Sneakers For Men,"₹1,499",59% off
2,Magnolia,Sneakers For Men,₹356,64% off
3,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
4,Longwalk,Men Boxer Sneakers For Men,₹236,52% off
...,...,...,...,...
95,DUCATI,Sneakers For Men,"₹1,259",65% off
96,LuvShus,Lazy Knit Slip On IDP Sneakers For Men,₹449,55% off
97,SHOEFLY,Sneakers For Men,₹362,70% off
98,Zsyto,Sneakers For Men,₹398,69% off
99,Nilatin,luxury fashionable casual shoes Sneakers For Men,₹449,65% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe. Please note: Everything should done through code even the filtering for sneakers as well.

In [123]:
# connecting to the web driver
driver=webdriver.Chrome(executable_path="chromedriver.exe") 
time.sleep(3)

# getting the myntra shoes site url on the web driver
url = "https://www.myntra.com/shoes"
driver.get(url)

In [124]:
# code to click on the color filter for "Black"
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [125]:
# code to click on the price filter for "Rs. 6935 to 13621" as “Rs. 6649 to Rs. 13099” is not available
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [126]:
url = driver.find_elements_by_xpath('//li[@class="pagination-number"]//a')

# extract all the shoe links from the above search result
shoe_urls=[]
for i in url[:5]:
    shoe_urls.append(i.get_attribute('href'))

In [127]:
# code to extract shoe brand details
sbrand = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_brand = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]//h3')
        for j in shoe_brand:
            sbrand.append(j.text)
    except:
        sbrand.append("---")

# code to extract shoe description
sdescriptn = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_descriptn = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]//h4')
        for j in shoe_descriptn:
            sdescriptn.append(j.text)
    except:
        sdescriptn.append("---")
description=[]
for i in range(0, len(sdescriptn), 2):
    description.append(sdescriptn[i])

# code to extract shoe price
sprice = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_price = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
        for j in shoe_price:
            sprice.append(j.text)
    except:
        sprice.append("---")

In [130]:
# creating the data frame
df = pd.DataFrame({})
df['Shoe Brand']=sbrand[:53]
df['Shoe Description']=description[:53]
df['Shoe Price']=sprice[:53]
df

              Shoe Brand                     Shoe Description Shoe Price
0                Saint G        Women GlideRide Running Shoes  Rs. 11199
1                  ASICS      Men Solid Leather Formal Derbys   Rs. 6993
2              J.FONTINI           Men Leather Formal Loafers   Rs. 7006
3                Saint G           Women Leather Heeled Boots   Rs. 7693
4   Heel & Buckle London       Women Solid Leather Gladiators   Rs. 7039
5    KIPRUN By Decathlon                  Women Running Shoes   Rs. 7773
6                   Puma         Women RS-Curve City Sneakers  Rs. 10399
7        PUMA Motorsport         Women BMW M Motorsport Shoes   Rs. 7499
8                   Puma       Women Fuse Moto Training Shoes   Rs. 9093
9                   Puma         Women Liberate NITRO Running   Rs. 7199
10  Heel & Buckle London                 Men Leather Sneakers   Rs. 6993
11             Cole Haan          Men Wingtip Oxford Sneakers  Rs. 10493
12             Cole Haan  Men GENERATION ZEROGRAND STITCHLITE   Rs. 7192
13             Cole Haan                     Leather Sneakers  Rs. 11242
14                VIONIC                Men Textured Sneakers   Rs. 7992
15             J.FONTINI         Men Textured Leather Loafers   Rs. 7192
16             J.FONTINI            Men Solid Leather Loafers   Rs. 8792
17             J.FONTINI         Men Textured Leather Loafers   Rs. 7343
18  Kalenji By Decathlon               Men KD500 Running Shoe   Rs. 9513
19                  Puma                    Men Running Shoes   Rs. 9975
20                  Nike         Women Air Zoom Running Shoes   Rs. 7999
21       PUMA Motorsport       Unisex BMW MMS RS-FastSneakers   Rs. 7499
22                  Geox          Men Leather Formal Slip-Ons  Rs. 11305
23                  Puma        Men Jamming 2.0 Running Shoes  Rs. 10399
24  Heel & Buckle London            Men Tassel Leather Loafer   Rs. 7999
25                 ASICS       Men Black Running Sports Shoes   Rs. 9093
26                 ASICS                     Men Tennis Shoes   Rs. 6999
27                 ASICS           Men GEL-GLYDE 3 MX Running   Rs. 9975
28                 Ruosh              Men Black Walking Shoes   Rs. 7799
29               Bugatti                    Men Walking Shoes   Rs. 9099
30               Bugatti           Women Leather Heeled Boots   Rs. 7400
31  Heel & Buckle London            Women Solid Leather Heels   Rs. 6993
32               Saint G           Women Leather Heeled Boots   Rs. 7693
33               Saint G                   Women Heeled Boots   Rs. 6993
34               Saint G                  Women Leather Pumps   Rs. 6999
35          Kenneth Cole                 Women Peep Toe Heels   Rs. 8253
36  Heel & Buckle London          Men Leather Formal Slip-Ons   Rs. 7199
37                  Geox         Men Textured Leather Loafers   Rs. 7199
38             J.FONTINI                   Men Solid Sneakers   Rs. 6999
39                  Geox               Men Leather Flat Boots  Rs. 11999
40                  Geox                 Women Open Toe Flats   Rs. 9599
41             Cole Haan            Men Leather Driving Shoes   Rs. 8953
42                  Geox      Men Solid Leather Formal Derbys   Rs. 7192
43             Florsheim           Men Leather Formal Loafers   Rs. 8249
44        Tommy Hilfiger                   Men Suede Sneakers   Rs. 7693
45  Heel & Buckle London       Men Solid Leather Formal Monks   Rs. 7499
46  Heel & Buckle London                  Women Leather Pumps   Rs. 8094
47       PUMA Motorsport          Unisex Mercedes F1 Sneakers   Rs. 7206
48                  Puma         Unisex Pacer Future Sneakers   Rs. 9513
49                  Puma         Unisex Mirage Sport Trainers   Rs. 7199
50             J.FONTINI        Men ZOOM SPAN 3 Running Shoes   Rs. 8399
51                  Nike          Men Vomero 16 Running Shoes   Rs. 7693
52                  Nike    Men Solid Leather Formal Slip-Ons   Rs. 9099

Q10: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:

1.title

2.Ratings

3.Price

In [119]:
# connecting to the web driver
driver=webdriver.Chrome(executable_path="chromedriver.exe") 
time.sleep(3)

# getting the amazon shopping site url on the web driver
url = "https://www.amazon.in/"
driver.get(url)

time.sleep(2)

In [120]:
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")
search_bar.clear()                                               
search_bar.send_keys("laptops") 

#clicking on the search button
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')      
search_button.click()    

time.sleep(2)

In [121]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
#locating the core i9 filter
filter_button1=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button1:
    if i.text=='Intel Core i9':
        i.click()
        break

In [122]:
#creating the empty list
Title=[]
Rating=[]
Price=[]

#Scraping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scraping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    Price.append(i.text)

# code to extract laptop rating
lap_rating = driver.find_elements_by_class_name("a-icon-alt")
for i in lap_rating[:10]:
    Rating.append(i.get_attribute('textContent'))
        
# creating the data frame now
df = pd.DataFrame({})
df['Laptop Title']=Title
df['Laptop Rating']=Rating
df['Laptop Price']=Price
df

,Laptop Title,Laptop Rating,Laptop Price
0,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5 stars,"1,23,350"
1,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"57,990"
2,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,4.3 out of 5 stars,"77,990"
3,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...",3.0 out of 5 stars,"85,990"
4,"ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...",5.0 out of 5 stars,"84,990"
5,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,4.1 out of 5 stars,"92,990"
6,Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....,3.7 out of 5 stars,"1,07,990"
7,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",4.4 out of 5 stars,"5,56,524"
8,Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...,4.2 out of 5 stars,"73,990"
9,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,4.0 out of 5 stars,"92,990"